@keyframes borderAnimationLeftToRight {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes borderAnimationLeftToRight92 {
  0% {
    width: 0;
  }

  100% {
    width: 92%;
  }
}

@keyframes borderAnimationTopToBottom {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}
