@keyframes lineAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes lineAnimation80 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes lineAnimationVertical {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.lineAnimation {
  animation: lineAnimation 1s ease-in-out forwards;
}

.lineAnimationAfterElement {
  &::after {
    animation: lineAnimation 1s ease-in-out forwards;
  }
}

.lineAnimation80 {
  animation: lineAnimation80 1s ease-in-out forwards;
}

.lineAnimationVertical {
  animation: lineAnimationVertical 1s ease-in-out forwards;
}
