@use "../global/" as *;

.borderTitleAnimation {
  fill: transparent;
  stroke-width: 1;
  stroke: $black;
  stroke-dasharray: 1535;
  stroke-dashoffset: 1535;

  &.animated {
    animation: strokeAnimation 2s forwards ease-out;
  }
}

@keyframes strokeAnimation {
  0% {
    stroke-dashoffset: 1535;
    fill: transparent;
  }
  80% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    fill: $black;
  }
}
