@use "../global/" as *;

.about {
  &__inner {
    display: flex;
    align-items: center;

    @include responsive(tab) {
      flex-direction: column;
    }
  }

  &__svg {
    @include ml_vw(56, 0);
    @include w_vw(411, 286);
    overflow: visible;
  }

  &__detail {
    width: vw(616);
    @include pt_vw(24);

    font-family: $yuGothic;

    @include fz_vw(16);
    line-height: 2;

    @include responsive(tab) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    @include h_vw(62, 48);
    @include mt_vw(72, 24);

    @include responsive(tab) {
      margin-left: 10vw;
    }

    & > .marquee {
      height: 100%;

      & > .marquee__text {
        top: 25%;

        @include responsive(tab) {
          top: 36%;
        }
      }
    }
  }
}
