@use "../global/" as *;

.adoption {
  display: flex;
  flex-wrap: wrap;

  &__card {
    box-sizing: border-box;
    width: 50%;
    align-items: start;

    @include responsive(tab) {
      width: 100%;
    }
  }
}
