@use "../global/" as *;

.archive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 80%;
  }

  &__list {
    width: 100%;
  }
}
