@use "../global/" as *;

.clients {
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    display: flex;
    justify-content: space-between;

    width: 80%;

    @include responsive(tab) {
      flex-direction: column;
    }
  }

  &__svg {
    @include w_vw(340, 258);
  }

  &__list {
    @include pt_vw(0, 48);
  }

  &__item {
  }
}
