@use "../global/" as *;

.column {
  display: flex;
  justify-content: center;
  align-content: center;

  &__inner {
    width: 80%;
  }

  &__button {
    width: 100%;

    @include h_vw(62, 48);
    @include mt_vw(72, 24);

    @include responsive(tab) {
      width: 100vw;
    }
  }
}
