@use "../global/" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;

  z-index: $layer3;

  display: flex;
  justify-content: center;
  align-items: center;


  &__inner {
    width: 100%;
    background: transparent;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    width: 100px;
    height: 100%;
    background: $main;
    border-right: solid 4px $black;
    z-index: 10000;
  }

  &__menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 80%;
      transition: 0.2s all ease-out;

      &:hover {
        fill: $accent;
      }
    }
  }

  &__menu-link {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 46px;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $black;
      font-size: 24px;
      letter-spacing: 0.5px;
      transition: 0.2s all ease-out;

      &:hover {
        color: $accent;
      }

      span {
        margin-bottom: 2px;
        display: block;
        font-size: 56px;
      }
    }
  }

  &__comment {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    width: 100px;
    height: 100%;
    background: $main;
    border-left: solid 4px $black;
    z-index: 10000;
  }

  &__comment-text {
    font-size: 34px;
    letter-spacing: 1.5px;
    font-weight: 600;
    writing-mode: vertical-rl;

    &::before {
      content: '';
    }
  }

  &__comment-firstview::before {
    content: 'ポートフォリオサイトへようこそ！';
  }

  &__comment-about::before {
    content: 'ぼくについての大まかなプロフィールです';
  }

  &__comment-works::before {
    content: '今までに仕事や勉強で作ったものです';
  }
}