@use "../global/" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;

  z-index: $layer3;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background: transparent;

  // mix-blend-mode: difference;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    width: 90%;

    @include py_vw(24, 16);

    @include responsive(tab) {
      width: 80%;
    }
  }

  &__contact {
    @include px_vw(32);
    @include py_vw(8);

    @include fz_vw(12);

    color: $black;
    border-radius: 100px;
    background: $white;
    border: 1px solid $black;

    @include responsive(tab) {
      display: none;
    }
  }

  &__logoArea {
    display: block;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    // position: absolute;

    // display: inline-block;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    object-fit: cover;

    mix-blend-mode: difference;

    z-index: 700;

    @include w_vw(50);

    @include responsive(tab) {
      position: static;
    }
  }

  &__hamburger {
    @include w_vw(50);
    @include h_vw(50);
  }
}
