@use "../global/" as *;

.top {
  position: relative;
  overflow: hidden;

  &__firstview {
    background-image: url(../../../dist/assets/images/fv_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include responsive(tab) {
      height: 100vh;
    }
  }

  &__firstview-title {
    position: absolute;
    top: 50%;
    left: 50%;
    @include fz_vw(110);
    letter-spacing: 0.6rem;
    color: $main;
    text-shadow: -0.4rem 0.4rem $black;
    z-index: 100;
    animation: doki-doki 1s ease infinite;

    @keyframes doki-doki {
      0% {
        transform: translate(-50%, -50%) scale(1);
      }

      20% {
        transform: translate(-50%, -50%) scale(1.1);
      }

      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    @include responsive(tab) {
      @include fz_vw(42);
    }
  }

  &__firstview-scroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    p {
      font-size: 18px;
      text-align: center;
      color: $main;
      text-shadow: -2px 2px $black;
    }

    div {
      width: 40px;
      height: 70px;
      border-radius: 20px;
      border: 4px solid $main;
      background-color: white;
      box-shadow: -2px 2px $black;
      margin: 0 auto;
      margin-top: 6px;
  
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 50%;
        left: calc(50% - 6px);
        transform: translate(-50%, -50%);
        background: $main;
        box-shadow: -2px 2px $black;
        animation: m-1-ball 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      }

      @keyframes m-1-ball {
        0%, 65%, 100% {
          opacity: 0;
        }
        10%, 40% {
          opacity: 1;
        }
        0% {
          transform: translateY(5px) scale(.7);
        }
        5% {
          transform: scale(.7);
        }
        15%, 100% {
          transform: scale(1);
        }
        45%, 65% {
          transform: translateY(24px) scale(.7);
        }
      }

    }
  }

  &__firstview-copyright {
    position: absolute;
    top: 1%;
    right: calc(1% + 100px);
    @include fz_vw(18);
    letter-spacing: 1px;
    color: $main;
    text-shadow: -2px 2px $black;

    @include responsive(tab) {
      right: 2%;
      @include fz_vw(12);
    }
  }

  &__firstview-bird {
    position: absolute;
    top: 3%;
    left: calc(4% + 100px);
    @include w_vw(170);

    @include responsive(tab) {
      left: 4%;
      @include w_vw(100);
    }
  }

  &__firstview-penguin {
    position: absolute;
    bottom: 0;
    right: calc(4% + 100px);
    margin-bottom: -4px;
    @include w_vw(170);

    @include responsive(tab) {
      right: 4%;
      @include w_vw(100);
    }
  }

  &__about {
    background-color: $main;
    position: relative;
    width: calc(100vw - 200px);
    margin: 0 auto;
    z-index: 200;

    @include responsive(tab) {
      width: 100vw;
      margin: 0;
    }
  }

  &__about-inner, &__works-inner, &__contact-inner {
    @include px_vw(50);
    @include py_vw(40);

    @include responsive(tab) {
      @include p_vw(20);
    }
  }

  &__about-title {
    position: relative;
    @include fz_vw(56);
    letter-spacing: 1.5px;

    @include responsive(tab) {
      @include fz_vw(40);
    }

    &::after {
      content: 'あばうと';
      position: absolute;
      top: 0;
      right: 0;
      @include fz_vw(26);
      letter-spacing: 0px;

      @include responsive(tab) {
        @include fz_vw(18);
      }
    }

    span {
      @include fz_vw(96);
      @include mr_vw(1);
      @include mb_vw(-1);

      @include responsive(tab) {
        @include fz_vw(70);
      }
    }
  }

  &__about-article {
    @include mt_vw(50);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;

    @include responsive(pc) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }

    @include responsive(tab) {
      @include mt_vw(20);
    }
  }

  &__about-article-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    p {
      @include fz_vw(18);
      line-height: 2;

      @include responsive(tab) {
        @include fz_vw(14);
      }
    }
  }

  &__about-maru {
    position: absolute;
    bottom: 0;
    left: -2%;
    @include w_vw(450);
    z-index: -10;
    animation: buru-buru .1s  infinite;

    @keyframes buru-buru {
      0% {transform: translate(0px, 0px) rotateZ(0deg)}
      25% {transform: translate(4px, 4px) rotateZ(2deg)}
      50% {transform: translate(0px, 4px) rotateZ(0deg)}
      75% {transform: translate(4px, 0px) rotateZ(-2deg)}
      100% {transform: translate(0px, 0px) rotateZ(0deg)}
    }

    @include responsive(pc) {
      z-index: 220;
    }
  }

  &__about-article-right {
    display: flex;
    flex-direction: column;
  }

  &__about-img-area {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: -12px 12px $black;
  }

  &__about-img {
    @include h_vw(500);
    overflow: hidden;

    &:hover img {
      &:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 20%;
        transform: translateX(-20%);
        filter: grayscale(0);
        z-index: 200;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(0.5);
      transition: 0.1s all ease;
    }
  }

  &__about-button, &__works-button {
    position: absolute;
    bottom: -4%;
    right: 0;
    @include px_vw(40);
    @include pt_vw(28);
    @include pb_vw(68);
    @include fz_vw(34);
    font-weight: 800;
    letter-spacing: 1.2px;
    color: $main;
    background: $black;
    transition: 0.07s all ease-out;

    &:hover {
      bottom: 0;
    }
  }

  &__works {
    background-color: $main;
    position: relative;
    width: calc(100vw - 200px);
    margin: 0 auto;
    z-index: 200;
  }

  &__works-title {
    position: relative;
    @include fz_vw(56);
    letter-spacing: 1.5px;

    &::after {
      content: 'わーくす';
      position: absolute;
      top: 0;
      right: 0;
      @include fz_vw(26);
      letter-spacing: 0px;
    }

    span {
      @include fz_vw(96);
      @include mr_vw(-2);
    }
  }

  &__works-article {
    @include mt_vw(50);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 5rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;

    @include responsive(pc) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 2rem;
      row-gap: 2rem;
    }
  }

  &__works-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include responsive(pc) {
      @include h_vw(280);
    }

    &:hover img {
      transform: scale(1.12);
      filter: brightness(0.85);
    }

    img {
      width: 100%;
      transition: 0.2s all ease;
    }
  }

  &__works-item-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    @include pl_vw(8);
    @include pb_vw(8);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    span {
      @include p_vw(4);
      @include fz_vw(12);
      color: white;
      background: rgb(70 70 70);
    }
  }

  &__works-item-modal-top {
    @include pb_vw(16);
  }

  &__works-item-modal-title {
    @include fz_vw(22);
    font-weight: 400;
    text-align: center;
  }

  &__works-item-modal-link {
    @include pt_vw(4);
    text-align: center;


    a {
      @include fz_vw(12);
      font-weight: 600;
      font-family: 'Noto Sans JP', sans-serif;
      color: #274765;
    }
  }

  &__works-item-modal-img {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    img {
      width: 100%;
    }
  }

  &__contact {
    background-color: $main;
    position: relative;
    width: calc(100vw - 200px);
    margin: 0 auto;
    z-index: 200;
  }

  &__contact-title {
    position: relative;
    @include fz_vw(56);
    letter-spacing: 1.5px;

    &::after {
      content: 'こんたくと';
      position: absolute;
      top: 0;
      right: 0;
      @include fz_vw(26);
      letter-spacing: 0px;
    }

    span {
      @include fz_vw(96);
      @include mr_vw(1);
      @include mb_vw(-1);
    }
  }

  &__contact-article {
    @include mt_vw(50);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;

    @include responsive(pc) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }

  &__contact-article-left {
    display: flex;
    flex-direction: column;

    p {
      @include fz_vw(18);
      line-height: 2;
    }
  }

  &__contact-article-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contact-form {
    position: relative;
    @include px_vw(50);
    @include py_vw(24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid 2px $black;
    border-radius: 50px;
    width: fit-content;
    background: white;

    @include responsive(pc) {
      @include py_vw(40);
      @include w_vw(560);
    }

    @include responsive(tab) {
      @include px_vw(20);
      @include mx_vw(10);
      width: auto;

      @media (orientation: landscape) {
        @include mx_vw(30);
      }
    }
  }

  &__contact-form-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include mb_vw(6);

    @include responsive(pc) {
      @include fz_vw(20);
    }

    @include responsive(tab) {
      @include fz_vw(16);

      @media (orientation: landscape) {
        @include fz_vw(14);
      }
    }

    span {
      @include ml_vw(3);
      @include px_vw(6);
      @include py_vw(4);
      @include fz_vw(15);
      border-radius: 10px;
      color: white;
      background: rgb(199 0 0);

      @include responsive(pc) {
        @include fz_vw(17);
      }

      @include responsive(tab) {
        @media (orientation: landscape) {
          @include fz_vw(12);
        }
      }
    }
  }

  &__contact-form-text {
    @include mb_vw(12);

    input {
      @include mb_vw(4);
      @include w_vw(400);
      @include h_vw(28);
      background: $main;

      @include responsive(pc) {
        @include w_vw(550);
      }

      @include responsive(tab) {
        width: 81vw;

        @media (orientation: landscape) {
          width: 72vw;
        }
      }
    }

  }

  &__contact-form-textarea {
    textarea {
      @include mb_vw(4);
      resize: none;
      @include w_vw(400);
      @include h_vw(180);
      border: none;
      background: $main;

      @include responsive(pc) {
        @include w_vw(550);
        @include h_vw(220);
      }

      @include responsive(tab) {
        width: 81vw;

        @media (orientation: landscape) {
          width: 72vw;
        }
      }
    }
  }

  &__contact-form-button {
    @include mt_vw(24);
    text-align: center;

    input {
      @include px_vw(50);
      @include py_vw(10);
      @include fz_vw(20);
      font-weight: 600;
      color: $main;
      background: $black;
      cursor: pointer;
    }
  }
}

[class|="confetti"] {
  position: absolute;
}

$colors: (#d13447, #ffbf00, #263672);

@for $i from 0 through 150 {
  $w: random(16);
  $l: random(100);
  .confetti-#{$i} {
    width: #{$w}px;
    height: #{$w*1.7}px;
    background-color: nth($colors, random(3));
    top: -10%;
    left: unquote($l+"%");
    opacity: random() + 0.5;
    transform: rotate(#{random()*360}deg);
    animation: drop-#{$i} unquote(4.5+random()+"s") unquote(random()+"s") infinite;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l+random(15)+"%");
    }
  }
}

/*全て共通：hideエリアをはじめは非表示*/
.hide-area {
	display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

.wpcf7-not-valid-tip {
  box-sizing: border-box;
  color: red !important;
  display: block;
  font-size: 14px !important;
  font-weight: bold;
  position: absolute;
  width: fit-content;
}

.wpcf7 form.sent .wpcf7-response-output {/* 送信ボタン下完了時 */
  position: absolute;
  @include px_vw(2);
  @include py_vw(6);
  @include w_vw(350);
  top: -11%;
  left: 47%;
  transform: translateX(-50%);
  border: none;
  background: rgb(199 0 0);
  color: white;
  white-space: nowrap;
  border-radius: 16px;
  text-align: center;
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {/* 送信ボタン下未入力警告 */
  display: none;
}