$breakpoints: (
  "smallSp": (
    max-width: 360px,
  ),
  "sp": (
    max-width: 480px,
  ),
  "tab": (
    max-width: 800px,
  ),
  "pc": (
    max-width: 1024px,
  ),
  "largePc": (
    max-width: 1024px,
  ),
) !default;
