$white: #ffffff;
$gray: #cbcbcb;
$black: #000;
$green: #287c30;
$lightGreen: rgba(40, 124, 48, 0.1);
$lightGreen2: rgba(30, 157, 100, 0.2);
$red: #f83e3e;
$brown: #6c5c4d;
$yellow: #f6db0e;
$skyblue: #03a3e0;
$brown: #b78009;
$purple: #a87db4;
$orange: #f6ac0e;

$brown-text: #6c5c4d;
