@use "./responsive" as r;
@use "../functions/" as f;

@mixin h_vw($pc, $sp: null) {
  height: f.vw($pc);

  @include r.responsive(tab) {
    @if ($sp) {
      height: f.vw($sp, tab);
    } @else {
      height: f.vw($pc, tab);
    }
  }
}
