@use "../global/" as *;

.adoptionCard {
  border-left: solid 0.5px $gray;
  border-right: solid 0.5px $gray;
  border-bottom: solid 1px $gray;

  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive(tab) {
    border-left: none;
    border-right: none;
  }

  &__inner {
    width: 80%;
    @include px_vw(48, 0);
    @include py_vw(48);
    height: 100%;
  }

  &__imgWrapper {
    @include aspectRatio(300, 530);
    @include responsive(tab) {
      @include aspectRatio(200, 305);
    }
    & > img {
      width: 100%;
    }
  }

  &__img {
  }

  &__title {
    @include pt_vw(32);
    @include fz_vw(21);
    font-weight: bold;
    line-height: 1.5;
  }

  &__detail {
    @include pt_vw(16);
    @include fz_vw(16);
    line-height: 2;
  }

  &__button {
    @include h_vw(62, 48);
    @include mt_vw(32, 24);

    @include responsive(tab) {
      width: 100vw;
    }
  }
}
