@use "../global/" as *;

.borderItem {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: $black;
  }

  &.animate {
    &::before {
      animation: borderAnimationLeftToRight 1s ease-in-out forwards;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @include pt_vw(48);
    @include pb_vw(16);

    & > * {
      @include fz_vw(16);
      font-family: $ryumin;
    }
  }
}
