@use "../global/" as *;

.businessList {
  & > * + * {
    @include mt_vw(56, 24);
  }

  &__item {
    position: relative;
    @include w_vw(824);

    @include py_vw(38, 20);
    @include pr_vw(136, 0);

    @include responsive(tab) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      width: 0;
      right: 0;
      left: auto;
      bottom: 0;
      height: 3px;
      background: $black;
      transition: all .5s ease-in-out;
    }
  
    &:hover::before {
      width: 100%;
      left: 0;
    }


    &::after {
      display: block;
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      height: 1px;
      background: $black;
    }

    &.animate {
      &::after {
        animation: borderAnimationLeftToRight 1.5s ease-in-out forwards;
      }
    }
  }
}
