@use "../global/" as *;

.businessList {
  & > * + * {
    @include mt_vw(56, 24);
  }

  &__item {
    position: relative;
    @include w_vw(824);

    @include pb_vw(56, 24);
    @include pr_vw(136, 0);

    @include responsive(tab) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &::after {
      display: block;
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      height: 1px;
      background: $black;
    }

    &.animate {
      &::after {
        animation: borderAnimationLeftToRight 1.5s ease-in-out forwards;
      }
    }
  }
}
