@use "../global/" as *;

.categoryList {
  display: flex;
  overflow: scroll;
  padding-bottom: 20px;

  &--layout {
    margin-top: $spacing-6;
  }
}

.categoryListItem {
  border-right: 2px solid $black;

  &:first-child {
    border-left: 2px solid $black;
  }

  &__link {
    line-height: 1.5;
    display: block;
    padding: 0 $spacing-3;
    color: $gray;
    word-break: keep-all;

    &.active {
      color: $green;
    }
  }
}
