@use "../global/" as *;

.columnList {
  @include mt_vw(100);
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1.43fr 1fr;
  grid-template-rows: 1fr 1.43fr 1fr;

  &__item {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    @include w_vw(280);
    @include h_vw(247);

    @include py_vw(24);

    padding: {
      left: calc(((292 - 262) / 2) / 292 * 100%);
      right: calc(((292 - 262) / 2) / 292 * 100%);
    }

    &::before,
    &::after {
      display: block;
      position: absolute;
      left: 0;
      right: 0;

      margin: auto;

      width: calc(266 / 292 * 100%);
      height: 1px;

      background-color: $black;
    }

    &::before {
      content: "";
      top: 0;
    }

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
      &::after {
        content: "";
        bottom: 0;
      }
    }

    &--title {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;

      grid-row: 2/4;
      grid-column: 2/3;
    }
  }

  &__link {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &__title,
  &__contents {
    color: $black;
    @include ellipsis;
  }

  &__title {
    @include fz_vw(32);
  }

  &__contents {
    @include pt_vw(32);

    @include fz_vw(16);
    line-height: 2;
  }
}
