@use "../global/" as *;

.columnList {
  position: relative;
  display: grid;
  grid-template-columns: 29% 42% 29%;
  grid-template-rows: repeat(4, vw(243));

  @include mt_vw(100);

  @include responsive(tab) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &--archive {
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(4, vw(247));

    @include responsive(tab) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(9, vw(247, tab));
    }
  }

  &__item {
    @include responsive(tab) {
      width: 100%;
    }
  }
}
