@use "../global/" as *;

.companyInfo {
  &__title {
    @include fz_vw(12);
    color: $white;
    font-family: $futura;
  }

  &__detail {
    @include pt_vw(8);
    @include fz_vw(12);
    color: $gray;
    line-height: 2;
    font-family: $yuGothic;
  }
}
