@use "../global/" as *;

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__inner {
    width: 80%;

    & > * + * {
      @include mt_vw(64, 40);
    }
  }

  &__acceptance {
    display: flex;
    color: $white;

    @include mt_vw(64, 40);

    .wpcf7-list-item {
      margin: auto;

      & > label {
        display: flex;
        align-items: center;
      }
    }
  }

  &__privacyPolicyLink {
    color: $white;
    border-bottom: 1px solid $white;
    @include mx_vw(8, 8);
    transition: $transition;

    &:hover {
      opacity: 0.5;
    }
  }

  &__submit {
    @include mt_vw(32, 32);
    transition: $transition;

    &:hover {
      opacity: 0.5;
    }

    & > input {
      background: none;
      border: none;
      cursor: pointer;

      @include px_vw(16, 16);
      @include px_vw(8, 8);

      color: $white;
    }
  }
}
