@use "../global/" as *;

.contactUs {
  position: relative;

  display: inline-flex;
  align-items: center;

  @include pb_vw(16, 16);

  &::before {
    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 1px;
    bottom: 0;

    background: $white;
  }

  & > * + * {
    @include ml_vw(32, 0);
  }

  @include responsive(tab) {
    width: 100%;
    justify-content: space-between;
  }

  &__text {
    @include fz_vw(64, 32);
    color: $white;
  }

  &__arrow {
    fill: $white;
    @include w_vw(36, 20.71);
    @include h_vw(30, 17.26);
  }
}
