@use "../global/" as *;

.footerNav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: vw(12);
  grid-column-gap: vw(96);

  @include responsive(tab) {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: vw(12, tab);
    grid-column-gap: vw(0, tab);
  }

  &__item {
  }

  &__link {
    display: inline-block;

    @include px_vw(8);
    @include py_vw(8);

    @include fz_vw(12);
    color: $white;
    transition: $transition;

    &:hover {
      opacity: 0.5;
    }
  }
}
