@use "../global/" as *;

.hamburger {
  position: relative;
  border: none;
  background-color: transparent;

  &__bar {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    width: 50%;
    height: 1px;

    border-radius: 4px;
    transition: $transition;
    background-color: $black;

    &--top {
      top: 35%;
      transform-origin: top left;
    }

    &--middle {
      top: 50%;
    }

    &--bottom {
      top: 65%;
      transform-origin: bottom left;
    }
  }

  &.active {
    .hamburger__bar {
      &--top {
        transform: translateX(-8px) rotate(37.5deg);
      }

      &--middle {
        opacity: 0;
      }

      &--bottom {
        transform: translateX(-8px) rotate(-37.5deg);
      }
    }
  }
}
