@use "../global/" as *;

.marquee {
  --gap: 1rem;

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  &__text {
    flex-shrink: 0;

    display: flex;
    justify-content: space-around;
    gap: var(--gap);

    & > div {
      display: flex;
      align-items: center;

      @include fz_vw(64, 32);
      font-weight: bold;
    }

    &--duration01 {
      animation: scroll 20s linear infinite;

      @include responsive(tab) {
        animation: scroll 20s linear infinite;
      }
    }

    &--viewAllButton {
      gap: 2rem;
      animation: scroll 2.5s linear infinite;

      @include responsive(tab) {
        animation: scroll 30s linear infinite;
      }

      & > div {
        @include fz_vw(32, 16);
      }
    }
  }
}
