@use "../global/" as *;

.mouseCursol {
  display: none;
  width: 72px;
  height: 72px;
  margin: -36px 0 0 -36px;
  object-fit: contain;
  position: fixed;
  z-index: 10000;
  user-select: none;
  pointer-events: none;
}
