@use "../global/" as *;

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive(tab) {
    flex-direction: column-reverse;
  }

  background: $black;

  & > * {
    color: $white;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 80%;

    @include pt_vw(160, 120);
    @include pb_vw(40, 64);

    @include responsive(tab) {
      align-items: flex-start;
      flex-direction: column-reverse;
    }
  }

  &__title {
    @include fz_vw(120, 56);

    & > span {
      font-size: inherit;
    }
  }

  &__subTitle {
    @include fz_vw(24, 16);
    font-family: $ryumin;
    font-weight: 300;

    & > span {
      font-size: inherit;
    }
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;

    & * + * {
      @include ml_vw(16);
    }
  }

  &__select {
    position: relative;

    @include px_vw(16);
    @include py_vw(8);

    background: $black;
    border-radius: 100px;
    border: 1px solid $white;
    color: $white;

    -webkit-appearance: none;
    appearance: none; /* デフォルトの矢印を非表示 */

    text-align: center;
    font-family: $didot;

    &::before {
      content: "";
      display: block;

      position: absolute;
      top: 0;
      left: 0;

      width: 50px;
      height: 50px;

      background: linear-gradient(to bottom left, transparent 50%, #f8676a 50%)
          top left/ 100% 50% no-repeat,
        linear-gradient(to top left, transparent 50%, #f8676a 50%) bottom left /
          100% 50% no-repeat;
    }
  }
}
