@use "../global/" as *;

.restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include pt_vw(80);

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 80%;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    width: 100%;

    gap: vw(48);

    @include responsive(tab) {
      flex-direction: column-reverse;
    }
  }

  &__text {
    p {
      @include fz_vw(16);
      line-height: 2;
      font-family: $yuGothic;
    }

    ul {
      @include pt_vw(10);
      @include fz_vw(20);
      line-height: 3;
      font-family: $yuGothic;
    }
  }

  &__name {
    @include pt_vw(0, 32);
    @include fz_vw(40);
    font-weight: bold;
  }

  &__detail {
    @include pt_vw(40, 24);
    @include fz_vw(16);
    line-height: 2;
  }

  &__logoWrapper {
    @include w_vw(420);
    @include aspectRatio(268, 420);
    filter: grayscale(1);

    flex-shrink: 0;

    & > * {
      object-fit: contain;
    }

    @include responsive(tab) {
      width: 100%;
    }
  }

  &__title {
  }

  &__button {
    display: block;

    width: 100%;
    @include h_vw(62, 48);

    @include mt_vw(56, 32);

    @include responsive(tab) {
      width: 80%;
    }

    & > .marquee {
      height: 100%;

      & > .marquee__text {
        top: 25%;

        @include responsive(tab) {
          top: 36%;
        }
      }
    }
  }

  &__BottomImgWrapper {
    width: 100%;
    filter: grayscale(1);
    transition: $transition;
    @include mt_vw(80, 40);

    @include aspectRatio(449, 1280);

    &:hover {
      filter: grayscale(0);
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include h_vw(62, 48);

    @include responsive(tab) {
    }
  }
}
