@use "../global/" as *;

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;

  &__lineWrapper {
    width: 15vw;
    margin: 0 auto;
    height: 2px;
    position: relative;
    padding: 0;
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    overflow: hidden;
    width: 100%;
    tranform-origin: 50% 50%;
    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
    }

    &::before {
      background: #ffffff3b;
    }

    &::after {
      background: $green;
      animation: move 2.5s infinite;
    }
  }

  @keyframes move {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    60% {
      transform: translate3d(100%, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: $green;
  }

  &__text {
    color: $green;
    padding-left: $spacing-2;
  }
}
