@use "../global/" as *;

.splash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $black;
	z-index: 9999;
	pointer-events: none;

	&__box {
		width: vw(300);
		height: vw(204.5);
		position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		pointer-events: all;
	}
}

.outline {
	position: absolute;
	background-color: $white;
	box-sizing: border-box;

	&--top {
		height: 1px;
		width: calc(100% + 4px);
		top: 0;
	}

	&--bottom {
		height: 1px;
		width: calc(100% + 4px);
		bottom: 0;
	}

	&--left {
		width: 1px;
		height: 100%;
		left: 0;
	}

	&--right {
		width: 1px;
		height: 100%;
		right: -4px;
	}

	&--centerTop {
		top: vw(80);
		width: 100%;
		height: 1px;
	}

	&--centerBottom {
		bottom: vw(80);
		width: 100%;
		height: 1px;
	}

	&--centerLeft {
		width: 1px;
		height: 100%;
		left: 41.6666667%;
	}

	&--centerRight {
		width: 1px;
		height: 100%;
		right: calc(32.3333333% - 1.5px);
	}
}

.circle {
	position: absolute;
	width: vw(205);
	height: vw(205);
	border-radius: 50%;
	border: 1px solid $white;
	box-sizing: border-box;

	&--left {
		left: 0;
	}

	&--right {
		right: -4px;
	}
}

.innerCircle {
	position: absolute;
	width: vw(150);
	height: vw(150);
	border-radius: 50%;
	border: 1px solid $white;
	top: vw(27.25);
	box-sizing: border-box;

	&--right {
		right: vw(25.5);
	}

	&--left {
		left: vw(28);
	}
}

.gline {
	position: absolute;
	width: 26.1966667%;
	height: 1px;
	background-color: $white;
	top: 47%;
	left: 41.8333333%;
	transform: translateY(-50%);
}