@use "../global/" as *;

.topMarquee {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  overflow: hidden;

  color: $black;

  transition: $transition;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: vw(24);

    animation: marqueeViewAll 800s linear infinite;
  }

  &__text {
    flex-shrink: 0;
    @include fz_vw(62, 32);
    font-weight: bold;
  }

  @keyframes marqueeViewAll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-300%);
    }
  }
}
